#divfilm{
    height: 100%;
}
#divsyno{
    height: 100%;
}
.textjustify{
    text-align: justify;
}
.filmimg{
    min-height : 23rem;
}
h3{
    font-size: 2rem;
}
.backdrop{
    backdrop-filter: blur(10px);
    border-bottom: #dbdbdba8 2px solid;
}
#logo{
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
.site-search{
    border: none;
    border-radius: 50% 50%;
    background: #F0F0F0;
    color:#212529;
}
.rechercher{
    border: none;
    background: #F0F0F0;
    color: #212529;
    border-radius: 25px;
}
.borderfooter{
    border-top: #dbdbdba8 2px solid;
}
#banner{
    height: 35vw;
    /*box-shadow: 0 25px 30px 10px gray;*/
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(144,138,123,1) 27%, rgba(103,91,62,1) 52%, rgba(102,85,42,1) 100%);
    margin-bottom: 4vw;
}
#banner div div{
    margin-top: 15%;
}